@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background-image: url("../images/Banner\ Image.png");
    background-blend-mode: overlay;
    background-color: #0702115f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner h4 {
    font-size: 28px;
    color: white;
}

.banner h1 {
    font-size: 70px;
    font-weight: bolder;
    color: white;
}

#discount {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

.contant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;

}

.contant h1 {
    font-size: 60px;
    font-weight: bold;
    color: #FF0000;
}

.contant h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contant p {
    color: #FF0000;
    font-size: 14px;
    margin-top: 20px;
}

.join-card {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    background-image: url("../images/Vectorrr.png");
    background-blend-mode: overlay;
    background-color: #0702115f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-description h1 {
    font-family: "Merriweather", serif;
    color: white;
    font-size: 50px;
}

.card-description p {
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-description span {
    color: white;
}

.card-description {
    margin-top: 90px
}

.card {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.card-img {
    color: gray;
}

#contract {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffa8f254;
    text-align: center;
}

.contract p {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}

.contract p span {
    color: red;
}

.contract button {
    background-color: #FF0000;
    padding: 5px 16px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-evant {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    height: 260px;
}

.evant-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.evant-tital {
    width: 33%;
    text-align: left;
}

.evant-tital h4 {
    color: #FF0000;
    margin-bottom: 10px;
}

.evant-tital p {
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    width: 70%;
}


.evant-img {
    width: 33%;
    margin-right: 20px;
}

.evant-img img {
    border: 16px solid white;
    border: 10px solid red;
    border-radius: 100%
}

.evant-discription {
    width: 33%;
    text-align: left;
    margin-left: 20px;
}

.evant-discription h1 {
    color: red;
    margin-bottom: 10px;
}

.evant-discription p {
    color: gray;
    font-size: 12px;
    margin-bottom: 16px;
    width: 50%;
}

.holiday-dis {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    height: 400px;
    padding-bottom: 200px;
}
.discount-title{
    text-align: center;
    font-family: "Inter", sans-serif;
}

.discount-title h1{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.discount-title p{
    width: 60%;
    margin: 0 auto;
    color: gray;
    font-size: 12px;
    margin-top: 20px;
}

.img-bg{
    width: 100%;
    height: 150px;
    background-color: red;
    border-radius: 0px 0px 10px 10px;
}

.gift{
    position: relative;
    top: 120px;
    left: 50px;  
}

.dic{
    position: relative;
    left: 400px;
    top: -50px;
}

.itam-contant{
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    height: 800px;
}

.itam-title h3{
    color: red;
    margin-bottom: 10px;
}

.itam-title h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.itam-title p{
    color: gray;
}

.itams{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}